@import '../variables';

.form-control {
    background-color: $secondary;
    padding: 10px;
    display: inline-block;
    text-align: left;
    border-radius: 4px;
    border-bottom: 2px solid $primary;

    label {
        display: block;
        font-size: 14px;
        color: $gray-light;
    }

    input, select {
        background-color: transparent;
        border: none;
    }

    button {border: none;}
}